<div class="content bg-white">
    <div class="row">
        <div class="left1">
            <h2>Desarrollo con pasión aplicaciones y sitios web.</h2>
            <p>Constantemente me encuentro aprendiendo nuevas tecnologías y desarrollando aplicaciones por placer. Esta web la construí desde cero utilizando python y Flask.</p>
        </div>
        <div class="right1">
            <h2>Podemos conversar lo que quieras!</h2>
            <p>Sólo envíame un correo <a href="#contacto" class="orange">Pinchando aquí</a></p>
        </div>
    </div>
</div>
